.instrucciones{
    background-color:#4380b6;
  
    width: 20%;
    height: 530px;
}
.run{
    background-color: rgb(181, 243, 181);
    margin-left: 90%;
    height: 40px;
    width: 80px;
}
.encabezado{
    background-color: #275f91;
    font-size:30px;
  
}
.codigo{
    background-color: rgb(170, 167, 167);
    height: 400px;
    width: 80%;
    margin-left: 20%;
    margin-top: -529.5px;
}
.terminal{
    background-color: black;
    height: 130px;
    width: 80%;
    margin-left: 20%;
}
